<div class="container">
    <div class="column">
      
      <h3>Before</h3>
      <div class="friend-request-card">
        <div class="profile-picture">
          <img src="https://thepracticaldev.s3.amazonaws.com/i/sldkglekmnqc4outtfqd.jpg">
        </div>
        <div class="user-details">
          <h1>Love Grayson</h1>
          <h2>13 Mutual Friends</h2>
        </div>
        <div class="friend-request-actions">
          <button class="button button-primary">Accept</button>
          <button class="button button-secondary">Decline</button>
        </div>
      </div>
  
      <h3>After</h3>
      <div class="friend-request-card friend-request-card-better">
        <div class="profile-picture">
          <img src="https://thepracticaldev.s3.amazonaws.com/i/sldkglekmnqc4outtfqd.jpg">
        </div>
        <div class="user-details">
          <h1>Love Grayson</h1>
          <h2>13 Mutual Friends</h2>
        </div>
        <div class="friend-request-actions">
          <button class="button button-primary">Accept</button>
          <button class="button button-secondary">Decline</button>
        </div>
      </div>
  
    </div>
  </div>
